body {
    div {
        background: linear-gradient(to right, #9999ff 0%, #ff99cc 100%);
    } ;
    background-repeat: no-repeat; 
    height : 100vh;
}

.todo-app-container {
    background-color: #ffffff;
    width: 300px;
    height:300px;
    
}