body {
   background-image: linear-gradient(to right,#6699ff
   ,#00b8e6
   100% );
}


.todo-app-container {
    background-color: #ffffff;
    width: 360px;
    height:450px;
    display:block;
    margin: 50px auto;
    border-radius:20px ;
    box-shadow: 0 0 10px rgba ;
}

.todo-app-title {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #a366ff ;
    color: #ffffff;
}

.list-container {
    height: 300px;
    overflow-y:scroll;

}

.list-item {
    padding: 7px 10px;
    margin:15px 10px ;
    border: 1px solid black;
    border-radius:3px ;
    cursor: pointer;
     
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#todo-input {
    padding: 5px 10px;
    width:200px;
    margin :8px 20px;

}

#add-btn {
    cursor: pointer;
    padding:5px 10px;
    border:none;
    border-radius: 3px;
    background-color:#a366ff;
    color: #fff;
}


