body {
  background-color: cornflowerblue;
}

.todo-app-container {
    background-color: #ffffff;
    width: 360px;
    height:450px;
    display:block;
    margin: 50px auto;
    border-radius:20px ;
    box-shadow: 0 0 10px rgba ;
}